openai
biopython
requests
beautifulsoup4
python-dotenv
pandas
thefuzz
pyzotero
pymupdf
numpy 
scikit-learn
matplotlib
seaborn
wordcloud
bertopic
sentence-transformers
torch
nltk
langchain_openai
langchain